<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- Barra de módulos -->
    <div class="modulos">
        <div class="modulo">M1</div>
        <div class="modulo">M2</div>
        <div class="modulo">M3</div>
    </div>
    <!-- Barra de números -->
    <div class="numeros">
        <div class="numero active">1</div>
        <div class="numero">2</div>
        <div class="numero">3</div>
    </div>
    <h2>Plataforma de Protección y Conservación de Ecosistemas</h2>
    <h4>(ODS 14: Vida Submarina)</h4>
    <div class="contenedor-formulario">
        <h3>ECOSISTEMA</h3>
        <form action="/info/ecosistemas" method="post">
            <label>¿Cuál es el nombre del ecosistema?</label> <br>
            <input type="text" name="nombreEcosistema" required><br>
            <div class="form-buttons">
                <button type="submit">Aceptar</button>
                <button type="reset">Cancelar</button>
                <button type="button" class="btn-retroceder" onclick="history.back()">Retroceder</button>
            </div>
        </form>
    </div>
    
</body>
</html>