<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/info/especies" method="post">
    <label>Nombre científico:</label>
    <input type="text" name="nombreCientifico" required>
    <label>Nombre común:</label>
    <input type="text" name="nombreComun">
    <label>Estado de conservación:</label>
    <select name="estadoConservacion" required>
        <option value="Preocupación Menor">Preocupación Menor</option>
        <option value="Vulnerable">Vulnerable</option>
        <option value="En Peligro">En Peligro</option>
        <option value="En Peligro Crítico">En Peligro Crítico</option>
    </select>
    <label>Descripción:</label>
    <textarea name="descripcion"></textarea>
    <button type="submit">Aceptar</button>
    <button type="reset">Cancelar</button>
    <button type="button" onclick="history.back()">Retroceder</button>
</form>
</body>
</html>